<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<h:form id="frmCurso">
		<p:dataTable value="#{cursoBean.lista}" var="c" rows="10"
			paginator="true" widgetVar="tablaCurso"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,30">

			<p:column headerText="ID" filterBy="#{c.idCurso}">
				<p:outputLabel value="#{c.idCurso}" />
			</p:column>
			<p:column headerText="Nombre" filterBy="#{c.nombre}">
				<p:outputLabel value="#{c.nombre}" />
			</p:column>
			<p:column headerText="Horas" filterBy="#{c.horas}">
				<p:outputLabel value="#{c.horas}" />
			</p:column>
			<p:column headerText="Accion">
				<p:commandLink value="seleccionar"
					oncomplete="PF('dialogo').show();"
					actionListener="#{cursoBean.seleccionar(c)}" update="frmCurso:dlg" />
			</p:column>
		</p:dataTable>
		<p:dialog id="dlg" widgetVar="dialogo" closable="true"
			closeOnEscape="true" resizable="false">
			<p:panelGrid columns="2">
				<p:outputLabel value="Id:" />
				<p:outputLabel value="#{cursoBean.curso.idCurso}" />
				<p:outputLabel value="Nombre:" />
				<p:outputLabel value="#{cursoBean.curso.nombre}" />
				<p:outputLabel value="Horas:" />
				<p:outputLabel value="#{cursoBean.curso.horas}" />
			</p:panelGrid>
		</p:dialog>
	</h:form>
</body>
</html>
